---
layout: base.njk
---

<h1>CGS Vintage Voltron 3</h1>

<p>The VV3 was one of the first Serge panels I built, using the CGS PCBs bought from <a href="https://www.elby-designs.com">Elby Designs</a>.</p>

<img class="onpage" src="./images/cgs-vv3-front.jpg" alt="VV3 Front"/>

<img class="onpage" src="./images/cgs-vv3-internals-initial.jpg" alt="VV3 Internals"/>

<p>Similarly to the <a href="../cgsbog">BOG</a> the power distribution was handled by a piece of strip board, but was replaced by the dedicated PCB once they'd been designed and built.</p>

<p>Because some of the PCBs are mounted directly on the potentiometers, I couldn't have the dual rails going the length of the faceplate, so ended up cutting and some mounting brackets by hand from some 15mm by 2mm aluminium rail. This was a lot more hassle than I would have liked, but it served the purpose well enough.</p>
