---
layout: base.njk
---

<h1>Ouroboros</h1>

<img class="onpage" src="./images/ouroboros-front.jpg" alt="The front panel of Ouroboros"/>

<p>Ouroboros is based off a feedback patch I put together on the 4U system. A filter feeds a PT delay, with the wet output being mixed with some noise and used to create clock pulses that then modulate and ping the filter and delay.</p>

<p>This results in a lot of space to explore with the system capable of locking into looping rhythmic and tonal patterns, but being easily pushed into drones and digital noise.</p>

<h2>Manual</h2>

<p>Still a work in progress, but the diagram should answer some of the questions</p>

<img class="onpage" src="./images/diagram.png" alt="The signal flow of Ouroboros"/>

<h2>Build Files</h2>

<p>All the necessary build files are available on the GitHub repository.</p>

<p>Check the <a href="https://github.com/rumblesan/ouroboros/releases">Releases</a> page and download the right files for the revision you have. This should be marked on the circuit board.

<h2>Open Source</h2>

<p>Everything in this project is open and licensed under Creative Commons.</p>
