---
layout: base.njk
---

<h1>Breadboard Helpers</h1>

<p>Prototyping on the breadboard can be a bit of a hassle when you're dealing with Banana Jacks, so I made these little helper PCBs.</p>

<img class="onpage" src="./images/helpers.jpg" alt="Banana Breadboard helpers"/></p>

<h2>Build Files</h2>

<p>The KiCad project files for these are open and licensed under Creative Commons.</p>

<p><a href="https://github.com/rumblesan/electronics/tree/main/banana-bread-board-helper">Banana Jack breadboard helper</a></p>

<p><a href="https://github.com/rumblesan/electronics/tree/main/breadboard-power-distrib">Banana Jack breadboard power distribution</a></p>
