---
layout: base.njk
---

<h1>4U Spring Reverb</h1>

<p>I based the circuit for this reverb on the <a href="https://github.com/TomWhitwell/Spring-Reverb-Mk-2">Music Thing Spring Reverb</a> by Tom Whitwell. It doesn't have the cross fade functionality, as I'm fine with the mixing being done manually or patching via other modules.</p>

<img class="tall" src="./images/springreverb-front.jpg" alt="Spring Reverb Front"/></p>

<img class="tall" src="./images/springreverb-back.jpg" alt="Spring Reverb Back"/></p>

<img class="tall" src="./images/springreverb-side.jpg" alt="Spring Reverb Side"/></p>


<p>The pictured build is actually the second revision of this, and unfortunately has a couple of issues. The controls don't match up with the front panel, and the layout is a bit scrappy. The third revision is in the works and should fix all of these problems.</p>

<h2>Build Files</h2>

<p>I've made all the files for this open and licensed under Creative Commons.</p>

<p>The Kicad Project files with schematic, layout and gerbers are available <a href="https://github.com/rumblesan/electronics/tree/main/4u-spring-reverb">here</a></p>

<p>All the design and layout files for the panels are up <a href="https://github.com/rumblesan/serge-system/tree/main/panels/loudest-warning-panels/music-thing-spring-reverb">here</a></p>

<h2>TODO</h2>

<p>Would like to sort out proper BOM files for ease of building</p>
