---
layout: base.njk
---

<h1>CEM 3350 Dual Filter</h1>

<p>The CEM 3350 is an IC designed by Curtis Electromusic Specialties which contains a number of OTAs and supporting circuitry which simplify building a pair of state variable filters.</p>

<p>The configuration of the OTAs seems a bit odd at first, but doing the maths shows that depending on where the audio signal is injected, you can get a simultaneous Low Pass and Band Pass, or Band Pass and High Pass response from it, with control over the Q.</p>

<img class="onpage" src="./images/lpbp-circuit.jpg" alt="CEM 3350 Low Pass and Band Pass circuit"/></p>

<h2>Analysis</h2>

<p>A fairly rough, somewhat dull, and incomplete run through of the maths can be found in <a href="./cem3350-analysis.pdf">this pdf</a>.</p>

<h2>Build Files</h2>

<p>I've made all the files for this open and licensed under Creative Commons.</p>

<p>The Kicad Project files with a schematic and layout <a href="https://github.com/rumblesan/electronics/tree/main/3350-dual-vcf">here</a></p>

<p>I've not yet designed a panel for this, and the circuit has been lightly tested on a breadboard, but it's very much a work in progress.</p>

<h2>TODO</h2>

<p>Should really get this started again.</p>
