---
layout: base.njk
---

<h1>Serge PSU</h1>

<p>The first power supply I built for the Serge panels suffered from being underpowered, resulting in the voltages on the rails falling.</p>

<p>I decided that for the time being, the best plan was to just use a pre-built eurorack supply, mount it in a custom enclosure, and build the necessary wiring to have it work with the 4 pin power connectors I had.</p>

<p>I have a Koma STROM supply in my eurorack, and because it has a Molex socket on the back for connecting to bus boards, I knew I could use it without having to solder anything to it.</p>

<img class="onpage" src="./images/serge-psu-faceplate.jpg" alt="Serge PSU faceplate"/>

<p>The faceplate has the holes required by the STROM, and the 4 pin power sockets, as well as a grounding socket, some 1/8 inch to banana jack converters, and a line/headphone output.</p>

<p>The headphone output still hasn't been built, and the lineout is really just a direct connection, so leaves a little to be desired.</p>

<img class="onpage" src="./images/serge-psu-wiring.jpg" alt="Serge PSU wiring"/>

<p>The internal connections for the power are all done via a small bus-board with blade connectors.</p>
