---
layout: base.njk
---

<h1>Edelweiss</h1>

The Edelweiss was the third Serge panel I built and is a clone of the <a href="https://randomsource.net/">Random Source</a> panel of the same name. This was originally created as a DIY build and so I was able to follow the original build documents found on the <a href="https://www.modwiggler.com/forum/viewtopic.php?t=108698">Mod Wiggler build thread</a>.

All the PCBs were bought from <a href="https://www.elby-designs.com">Elby Designs</a> with the exception of the power distribution board mentioned in previous builds.

<img class="onpage" src="./images/edelweiss-front.jpg" alt="Edelweiss Front"/>

<img class="onpage" src="./images/edelweiss-panel-wiring.jpg" alt="Edelweiss wiring"/>

Similarly to the <a href="../cgsbog">BOG</a> build, PCBs are supported on an aluminium frame held in place place by small brackets and stand-offs.

<h2>Modifications</h2>

When I designed the front panels, I made a mistake and thought that the Rate input on the Smooth/Stepped and Random Source modules was an attenuverter, but it turns out that this isn't the case. To rectify this (and add a bit of functionality) I designed a PCB to keep a dedicated attenuverter circuit based on the <a href="https://kassu2000.blogspot.com/2018/04/precision-attenuverter-mixer.html">Kassutronics Precision Attenuverter</a> circuit. This allows for a finer control around the centre position of the potentiometer.

<img class="onpage" src="./images/edelweiss-ssg-attenuverter.jpg" alt="Edelweiss SSG attenuverter"/>
