---
layout: base.njk
---

<h1>Serge R6 Gate/RingMod</h1>

<p>This module is a version of the original Serge R6 Gate/Ring Modulator circuit, which is from the original paperface era systems. The circuit is shown on the <a href="https://serge.synth.net/modules/r6_mod/index.html">serge.synth.net</a> site which documents a lot of the early circuits and information.</p>

<p>Like the original circuit, this version can be switched to be either the Gate or the RingMod when being built by adding or leaving a few components and soldering some jumpers. The version shown here is built as the Gate.</p>

<img class="onpage" src="./images/r6gaterm-front.jpg" alt="R6 Gate Front"/></p>

<img class="onpage" src="./images/r6gaterm-back.jpg" alt="R6 Gate Back"/></p>

<img class="onpage" src="./images/r6gaterm-side.jpg" alt="R6 Gate Side"/></p>

<h2>Trimming</h2>

<p>The only instructions I've found for trimming the circuit are on <a href="https://modularsynthesis.com/serge/box1/serge1.htm">Dave Brown's</a> site on his refurb of a Serge system. I've found it to be a bit finicky, but it's working well enough to use.</p>

<h2>Build Files</h2>

<p>I've made all the files for this open and licensed under Creative Commons, though of course original credit for the circuit lies with <a href="https://en.wikipedia.org/wiki/Serge_Tcherepnin">Serge</a>.</p>

<p>The Kicad Project files with schematic, layout and gerbers are available <a href="https://github.com/rumblesan/electronics/tree/main/serge-r6-gate-ringmod">here</a></p>

<p>All the design and layout files for the VCA panel are up <a href="https://github.com/rumblesan/serge-system/tree/main/panels/loudest-warning-panels/serge-r6-vca">here</a> and the Ring Mod panel I designed is <a href="https://github.com/rumblesan/serge-system/tree/main/panels/loudest-warning-panels/serge-r6-ring-mod">here</a></p>

<h2>TODO</h2>

<p>Would like to sort out proper BOM files for ease of building</p>
