---
layout: base.njk
---

<p>This site is primarily here to showcase the synth DIY stuff I&#39;ve been doing.</p>

<p>Mostly it&#39;s centred around a gradually expanding Serge/CGS 4U modular, but I'll gradually start putting up some of the work I've done with the <a href="https://bristol-communal-modular.github.io/">Bristol Communal Modular</a> group as well.</p>

<a href="./images/serge-system-big.jpg"><img class="onpage" src="./images/serge-system.jpg"/ alt="An increasingly large Serge CGS 4U modular system"></a>

<h2>Original Designs</h2>

<ul>
  <li><a href="https://github.com/rumblesan/dual-pt2399-digital-delay">Dual PT2399 Digital Delay</a></li>
  <li><a href="./ouroboros">Ouroboros</a></li>
</ul>

<h2>Bristol Communal Modular</h2>

<p>The <a href="https://bristol-communal-modular.github.io/">Bristol Communal Modular</a> group is a loose collective of people that meet at the Bristol Hackspace regularly to learn about, design, and play with synthesizers.</p>

<ul>
  <li><a href="https://bristol-communal-modular.github.io/yorick/">Yorick</a> - an ATTiny based mono-synth groovebox</li>
  <li><a href="https://bristol-communal-modular.github.io/magnum-percussion-instrument/">Magnum</a> - a recreation of the Star Synare 3</li>
</ul>

<h2>Circuit Analysis</h2>

<ul>
  <li><a href="./cem3350-filter">CEM 3350 dual filter</a></li>
</ul>

<h2>Serge 4U Panels</h2>

<ul>
  <li><a href="./cgsbog">CGS Bringer of Groove</a></li>
  <li><a href="./cgsvv3">CGS Vintage Voltron 3</a></li>
  <li><a href="./edelweiss">Edelweiss</a></li>
</ul>

<h2>4U Clones</h2>

<p>Other peoples designs that I've adapted to 4U, or older Serge circuits I've created new projects for.</p>

<ul>
  <li><a href="./serge-r6gate">Serge R6 Gate</a></li>
  <li><a href="./4uspringreverb">Spring Reverb</a></li>
  <li><a href="https://www.modwiggler.com/forum/viewtopic.php?t=266826">Dual Variable Integrator + Non-Linearity</a></li>
  <li><a href="https://www.modwiggler.com/forum/viewtopic.php?t=266826">Dual Simple Integrator</a></li>
</ul>

<h2>Utility</h2>

<ul>
  <li><a href="./serge-psu">Serge PSU</a></li>
</ul>

<h2>PCB Designs</h2>

<ul>
  <li><a href="./breadboard-helpers">Banana Breadboard Helpers</a></li>
  <li>Transistor Matcher *TODO*</li>
  <li>Precision Attenuverter *TODO*</li>
  <li>Simple four channel amp *TODO*</li>
</ul>

<h3>Contact</h3>

<p>Drop me an email at guy@rumblesan.com</p>
