---
layout: base.njk
---

<h1>Synth DIY</h1>

<p>This site is just here to showcase/show off the synth DIY stuff I've been doing.</p>

<p>Mostly it's centred around my gradually expanding Serge/CGS 4U modular.</p>

<img class="onpage" src="./images/serge-system.jpg"/ alt="Serge CGS 4U modular system">

<h2>Design</h2>

<ul>
  <li><a href="./cem3350-filter">CEM 3350 dual filter</a></li>
</ul>

<h2>Serge 4U Panels</h2>

<ul>
  <li><a href="./cgsbog">CGS Bringer of Groove</a></li>
  <li><a href="./cgsvv3">CGS Vintage Voltron 3</a></li>
  <li><a href="./edelweiss">Edelweiss</a></li>
</ul>

<h2>4U Modules</h2>

<ul>
  <li><a href="./4uspringreverb">Spring Reverb</a></li>
  <li><a href="./serge-r6gate">Serge R6 Gate</a></li>
</ul>

<h2>Builds</h2>

<ul>
  <li>CLee VC Mixer *TODO*</li>
</ul>

<h2>Utility</h2>

<ul>
  <li><a href="./serge-psu">Serge PSU</a></li>
</ul>

<h2>PCB Designs</h2>

<ul>
  <li><a href="./breadboard-helpers">Banana Breadboard Helpers</a></li>
  <li>Transistor Matcher *TODO*</li>
  <li>Precision Attenuverter *TODO*</li>
  <li>Simple four channel amp *TODO*</li>
</ul>

<h3>Contact</h3>

<p>Drop me an email at guy@rumblesan.com</p>
